/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');*/

@font-face {
    font-family: dbold;
    src: local('Greycliff CF Demi Bold'), local('Greycliff-CF-Demi-Bold'),
        url('../other/demibold/GreycliffCF-DemiBold.woff2') format('woff2'),
        url('../other/demibold/GreycliffCF-DemiBold.woff') format('woff'),
        url('../other/demibold/GreycliffCF-DemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: bold;
    src: local('Greycliff CF Bold'), local('Greycliff-CF-Bold'),
        url('../other/bold/GreycliffCF-Bold.woff2') format('woff2'),
        url('../other/bold/GreycliffCF-Bold.woff') format('woff'),
        url('../other/bold/GreycliffCF-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: medium;
    src: local('Greycliff CF Medium'), local('Greycliff-CF-Medium'),
        url('../other/medium/GreycliffCF-Medium.woff2') format('woff2'),
        url('../other/medium/GreycliffCF-Medium.woff') format('woff'),
        url('../other/medium/GreycliffCF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: regular;
    src: local('Greycliff CF Regular'), local('Greycliff-CF-Regular'),
        url('../other/regular/GreycliffCF-Regular.woff2') format('woff2'),
        url('../other/regular/GreycliffCF-Regular.woff') format('woff'),
        url('../other/regular/GreycliffCF-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

::-webkit-scrollbar {
    width: 7px;
  }
  
::-webkit-scrollbar-track {
background: #100f13;
}

::-webkit-scrollbar-thumb {
background: #383838;
border-radius: 20px;
}


::-webkit-scrollbar-button {
display: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-variant-numeric: lining-nums proportional-nums;
}

body {
    font-family: dbold, sans-serif;
    background: rgb(19, 21, 27);
    transition: all 0.3s ease-in-out;
}


:root {
    --main-color: linear-gradient(135deg, #00b7ff, #0046c9);
    --dark-color: #141414;
    --glavny-color: #0077ff;
    --light-dark-color: #242424;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 14%;
    left: 0;
    transition: 0.3s ease;
}

header.sticky {
    padding: 16px 14%;
    background: #13151bd5;
    box-shadow: 0 0 20px #0000003e;
    border-bottom: 1px solid #2c2f35;
    backdrop-filter: blur(11px);
}

header .navlist {
    display: flex;
}
header a.active {
    color: var(--main-color);   
}
header .logo {
    font-family: dbold;
    color: #fff;
    font-size: 20px;
}

header .logo span {
    font-size: 14px;
    font-family: medium;
    vertical-align: middle;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    margin-left: 5px;
    background: var(--main-color);
}

header .navlist a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
    transition: all 0.3s ease;
}
header .navlist a:hover {
    color: #cacaca;
}

header .navlist .login {
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    padding: 6px 8px;
    color: #ffffff;
    background: linear-gradient(135deg, #00b7ff, #0046c9);
}

header .navlist .login:hover {
    background: linear-gradient(135deg, #00b7ff, #0046c9);
}

header .navlist .login:hover {
    color: #fff;
}

/* Секция #1 - Главная страница */


#main {
    position: relative;
    width: 100%;
    padding: 160px 14% 20px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#main .page-text {
    text-align: center;
}

#main .page-text h1 {
    font-family: bold;
    color: #ffffff;
    font-size: 58px;
    line-height: 1.02;
    font-weight: 700;
    margin-bottom: 14px;
}


#main .page-text p {
    font-family: regular;
    color: #dcdcdc;
    font-size: 17px;
    line-height: 1.40;
    margin-bottom: 34px;
}

#main .page-text .main-btn {
    font-weight: 600;
    color: #fff;
    padding: 8px 12px;
    background: var(--main-color);
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0 4px 20px #0000003e;
}

#main .page-text .main-btn:hover {
    background: linear-gradient(135deg, #00b7ff, #0046c9);
}

#main .page-text .faq {
    font-weight: 600;
    color: #fff;
    padding: 8px 12px;
    margin-left: 5px;
    background: none;
}

#main .page-text .main-btn span {
    vertical-align: middle;
}

#main .page-text .anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s ease-in-out forwards;
}


/* Секция 2 - Вопросы */

#faq-u {
    padding: 0px 14% 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff;
}

#faq-u .faq {
    width: 720px;
    margin-top: 15px;
    box-shadow: 0 6px 20px #00000071;
    padding: 16px 18px;
    border-radius: 10px;
    background: #13151b;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
}

#faq-u .faq:hover {
    border: 1px solid #24292e;
}

#faq-u .question {
    position: relative;
    display: flex;
    align-items: center;
}

#faq-u .question h2 {
    font-family: bold;
    font-size: 22px;
    margin-left: 3px;
}


#faq-u .answer p {
    border-top: 1px solid #24292e;
    font-size: 17px;
    font-family: regular;
    color: #dcdcdc;
    margin-top: 8px;
    padding-top: 8px;
    line-height: 1.4;
}

#faq-u .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#faq-u .faq.active {
    transform: scale(1.03);
    border: 1px solid #24292e;
}

#faq-u .faq.active .answer {
    max-height: 300px;
    transition: max-height 0.6s ease;
}

#faq-u .faq.active svg {
    transform: rotate(180deg);
}

#faq-u svg {
    position: absolute;
    right: 0px;
    transition: transform 0.3s ease;
}

@media (max-width: 880px) {
    #faq-u .faq {
        width: 560px;
    }
}


@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


  
@media (max-width: 1700px) {
    #main .page-text img {
        width: 480px;
    }
}

@media (max-width: 1600px) {
    #showcase .video-text video {
        width: 470px;

    }
}

@media (max-width: 1500px) {
    #main .page-text img {
        display: none;
    }
}

@media (max-width: 660px) {
    #faq-u .faq {
        width: 450px;
    }
    
    #faq-u svg {
        display: none;   
    }
}

@media (max-width: 530px) {
     #faq-u .faq {
        width: 360px;
    }
}
@media (max-width: 880px) {
    #main .page-text h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }
    #main .page-text p {
        font-size: 16px;
    }
    header .navlist {
        display: none;
    }
}

@media (max-width: 720px) {
    #main {
        padding: 160px 8% 120px;
    }

    header {
        padding: 22px 8%;
    }
    header.sticky {
        padding: 16px 8%;
    }

    #whyus .container .wbox {
        margin-bottom: 20px;
    }
    #whyus {
        padding: 0 8% 120px;
    }

}

@media (max-width: 620px) {
    #main .page-text h1 {
        font-size: 42px;
    }
}

@media (max-width: 480px) {
    #main .page-text p {
        font-size: 14px;
    }
}




.gradient {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to bottom, rgba(16, 19, 21, 0.6), rgba(16, 19, 21, 0.6));
}

.transition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 45%, #13151b);
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/video.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #13151b55;
    backdrop-filter: blur(18px);
    background-size: cover;
    background-position: center;
    z-index: 1001;
}


 
.preloader__row {
    position: relative;
    accent-color: #fff;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite ease-in-out;
}
 
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--main-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
 
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
 
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
 
@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }
 
    50% {
        transform: scale(1);
    }
}
 
.loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
}
 
.loaded .preloader {
    display: none;
}
